<div class="container mx-auto p-4">
    <h4 class="text-3xl font-bold mb-4 text-center text-white rounded-lg">Vizualization Of Workouts <h6>(click on user..)</h6></h4>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th class="py-2 px-4 bg-gray-800 text-white">Username</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let username of uniqueUsernames" (click)="selectUser(username)" class="hover:bg-gray-200 cursor-pointer">
              <td class="py-2 px-4 border-b">{{ username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Chart Section -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <canvas id="workoutChart" class="w-full h-auto md:h-64"></canvas>
      </div>
    </div>
  </div>
  