<header class="bg-gray-900 text-white py-4">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-bold"> Health-Challenge-Tracker</div>
    </div>
  </div>
</header>

<div class="bg-gray-800 text-dark">
<app-workout-form (newWorkout)="updateWorkouts()" class="py-8">
</app-workout-form>

<app-workout-search (searchResults)="updateWorkouts($event)" class="py-8">
</app-workout-search>

<app-workout-list [workouts]="workouts" class="py-8">
</app-workout-list>

<app-workout-chart ngSkipHydration class="py-8">
</app-workout-chart>
</div>

<footer class="bg-gray-900 text-white py-4 mt-8">
  <div class="container mx-auto px-4 text-center">
    <p>&copy; 2024 Ajith-Health-Challenge-Tracker. All rights reserved.</p>
  </div>
</footer>