<div class="bg-gray-900 min-h-screen flex flex-col items-center justify-center py-8">
  <div class="container mx-auto p-4 bg-gray-800 text-white rounded-lg shadow-lg">
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-700 text-white border border-gray-600 rounded-lg shadow">
        <thead class="bg-gray-800">
          <tr>
            <th class="py-2 px-4 border-b border-gray-600 text-center">Username</th>
            <th class="py-2 px-4 border-b border-gray-600 text-center">Workouts</th>
            <th class="py-2 px-4 border-b border-gray-600 text-center">Number of Workouts</th>
            <th class="py-2 px-4 border-b border-gray-600 text-center">Total Minutes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of paginatedWorkouts">
            <tr class="hover:bg-gray-600 cursor-pointer">
              <td class="py-2 px-4 border-b border-gray-600 text-center">{{ user.username }}</td>
              <td class="py-2 px-4 border-b border-gray-600 text-center">
                <div *ngFor="let workout of user.workouts">
                  {{ workout.workoutType }}: {{ workout.workoutMinutes }} mins
                </div>
              </td>
              <td class="py-2 px-4 border-b border-gray-600 text-center">{{ user.numWorkouts }}</td>
              <td class="py-2 px-4 border-b border-gray-600 text-center">{{ user.totalMinutes }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="mt-4 flex justify-center">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        class="w-full md:w-1/2 bg-gray-800 text-white border border-gray-600 rounded-lg shadow-md">
      </mat-paginator>
    </div>

    <div class="mt-4">
      <button
        (click)="navigateToCharts()"
        class="w-full px-4 py-2 rounded-lg shadow-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        View Charts
      </button>
    </div>
  </div>
</div>
